.whatsapp_btn_fun {
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100px;
  position: fixed;
  right: 0;
  width: 100px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.whatsapp_btn_fun .cont_btn {
  -webkit-animation: pulsing 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
  animation: pulsing 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
  background-color: #42db87;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 3px #999;
  box-shadow: 2px 2px 3px #999;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
  height: 50px;
  text-align: center;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.whatsapp_btn_fun .cont_btn:hover {
  -webkit-box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
}

.calling_btn_fun {
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100px;
  position: fixed;
  left: 0;
  width: 100px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calling_btn_fun .cont_btn {
  -webkit-animation: pulsing 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
  animation: pulsing 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
  background-color: #42db87;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 3px #999;
  box-shadow: 2px 2px 3px #999;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
  height: 50px;
  text-align: center;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calling_btn_fun .cont_btn:hover {
  -webkit-box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
}

.form_query .webform_head {
  margin: 40px 0;
}

.form_query .form_query_mote {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.form_query .form_query_mote .form_query_m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.form_query .form_query_mote .form_query_m_send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #726d6d;
  width: 400px;
  height: 200px;
  gap: 20px;
  border-radius: 10px;
}

.form_query .form_query_mote .form_query_m_send span {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

.form_query form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.form_query form .form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.form_query form .form_input input {
  width: 400px;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.form_query form button {
  width: 400px;
  padding: 20px;
  background-color: #726d6d;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

@-webkit-keyframes pulsing {
  100% {
    -webkit-box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsing {
  100% {
    -webkit-box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.copyrighttext {
  background-color: #242222;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 769px) {
  .form_query form {
    width: 100%;
  }

  .form_query form input,
  .form_query form button {
    width: 100% !important;
  }
}
