/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

section {
  padding: 50px 100px;
}

h2 {
  font-size: 60px !important;
  text-align: center !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #574545;
  line-height: 1;
}

h4 {
  text-align: center !important;
  color: #827171 !important;
  letter-spacing: 2px !important;
}

footer {
  background-color: #312727;
  margin-top: 50px;
  padding: 100px;
}

footer .footer_rows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

footer .footer_rows .footer_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

footer .footer_rows .footer_col h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 7px 0;
}

footer .footer_rows .footer_col ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer_rows .footer_col ul li a {
  font-size: 20px;
  letter-spacing: 0.4px;
}

// breakpoints
@media screen and (max-width: 1200px) {
  section {
    padding: 50px 10px !important;
  }
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 30px !important;
  }
}
