section {
  padding: 50px 100px;
}

h2 {
  font-size: 60px !important;
  text-align: center !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #574545;
  line-height: 1;
}

h4 {
  text-align: center I !important;
  color: #827171 !important;
  letter-spacing: 2px !important;
  text-align: center !important;
}
