.emailjs_form {
  form {
    .form_input {
      display: flex;
      flex-direction: column;
      margin: 10px;
      input,
      textarea {
        width: 500px;
        padding: 15px;
        border: 1px solid #1e1e1e;
        border-radius: 10px;
        resize: none;
        letter-spacing: 2px;
      }
    }

    button {
      width: 500px;
      padding: 15px;
      border: 1px solid #1e1e1e;
      border-radius: 10px;
      resize: none;
      letter-spacing: 2px;
    }
  }
}
