.services .blogs_boxes {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  place-content: center;
  gap: 70px;
  margin-top: 20px;
}

.services .blogs_boxes .box {
  text-align: center;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.services .blogs_boxes .box h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #726d6d;
}

.services .blogs_boxes .box .box_para {
  margin: 10px 0;
}

.services .blogs_boxes .box .box_para p {
  color: #726d6d;
}

.services .blogs_boxes .box .blog_direct_link {
  padding: 10px 20px;
  background: #726d6d;
  color: #fff;
  border-radius: 10px;
}

.services .blogs_boxes .box .box_data p {
  text-align: right;
}
